.app {
  display: flex;
  font-family: 'Oswald', sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 6rem;
  color: white;
}

.navbar-heading {
  font-size: 4rem;
}