.app {
  display: flex;
  font-family: 'Oswald', sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 6rem;
  color: white;
}

.navbar-heading {
  grid-area: "header";
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

/* 
.navbar-profile-img{ 
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
} */

.menu-page {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 90%;
  margin: 0;
  padding: 0;
}

.menu-container {
  display: flex;
  margin: 2rem;
  width: 100%;
  border: solid .25rem black;
  border-radius: 8px;
  overflow-x: scroll;
}

.food-card {
  display: flex;
  border: solid .4rem red;
  flex-direction: column;
  padding: 1rem;
  margin: .4rem;
  border-radius: 10px;
}

.food-card-img {
  height: 12rem;
  width: 12em;
}

.food-card-purchase-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-card-price-container {
  display: flex;
  background-color: red;
  border-radius: 10px;
  padding: .3rem;
  margin-top: 1rem;
  color: white;
  height: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.food-card-price {
  padding: 0;
  margin: 0;
}

.food-card-redeem-container {
  display: flex;
  background-color: green;
  border-radius: 10px;
  padding: .3rem;
  margin-top: 1rem;
  color: white;
  height: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fooc-card-redeem {
  padding: 0;
  margin: 0;
}

.food-card-redeem-container:hover, .food-card-price-container:hover {
  transition: .3s;
  transform: translateY(-4px);
}

.login-form, .register-form{
  align-self: center;
  margin: 2rem;
  display: flex;
  border: .25rem solid red;
  border-radius: 10px;
  justify-content: center;
  width: 20rem;
}

.register-form-wrapper, .login-form-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-nav {
  display: flex;
  background-color: white;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields > input {
  border: solid .2rem;
  margin: 1rem;
  border-radius: 5px;
  text-indent: .3rem;
  height: 2rem;
}

.register-button {
  background-color: green;
  border: solid .2rem;
  margin: 1rem;
  height: 2.5rem;
  border-radius: 9px;
  color: white;
  cursor: pointer;
}